.nav-bar{
    background-color: #3498db;
  padding: 15px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}
.nav-bar h4{
    margin-left: 10px;
    
}
.nav-bar h4:hover{
    text-decoration: underline
}
.nav-bar img{
    height: 30px;
    padding-left: 6px;
    cursor: pointer;
}
.user{
    padding-left: 800px;
    display: flex;
}
.user h3{
  margin-left: 100px;
    padding-right: 10px ;

}

.user img{
     height: 65px;
     cursor: pointer;
}
.user img:hover{
    content: attr(title);
    visibility: visible;
}
.alert{
    height: 3cm;
    width: 60%;
    background-color: aqua;
    margin-left: 1cm;
    align-items: center;

}



